*/build/
*/bin/
*/.classpath
*/.settings
*/.project
*/.gitignore
*/.gradle
/.gradle
/build/
/bin/
.nb-gradle/
*.jasper
.settings/
.classpath
.project
*/test-output/
.idea/
**.log
**.mr2
**.iml
application/out/
